body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    justify-content: center;
}
#survey-form{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    text-align: start;
    align-content: space-between;
    

}
.melhorias{
    
    align-self: auto;
}

div{
    justify-content: center;
    
    
}
