@media (max-width: 900px) 
{
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        height: 100%;
        width: 232px;
        border-right: 2px solid rgb(184, 204, 241);
        border-radius: 1px;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: #FCFDFD;
        padding:10px;
        overflow: hidden;

    }
}
body{
    display: inline-flex;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue',sans-serif;
}

code{
    background-color:rgb(219, 219, 219);
}
a{
    text-decoration: none;
    color: black;
}

#navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 100%;
    width: 232px;
    border-right: 2px solid rgb(184, 204, 241);
    border-radius: 1px;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #FCFDFD;
    padding:10px;
    overflow: hidden;
}


#main-doc{
    display: flex;
    flex-direction:column;
    padding: 50px;
    margin-left: 253px;


}
header{
    font-size:x-large;
    font-weight:600;
}